
    <%= form_for :todo, url: create_path, :html => { :id => "todo"} do |form| %>
      <p>
       <div id="label">
        <%= form.label ("text"), "Новая задача", class:'label' %><br>
       </div>
        <%= form.text_field ("text"), placeholder: "Название задачи", class: 'form-control' %>
      </p>
       <p>
          
           <%= select_tag 'todo[project_id]', options_for_select(Project.all.collect{ |u| [u.title, u.id] }), class: 'form-control'%>
       </p>
       <div id="buttons">
        <button type="button" class="btn btn-secondary gray" id="cancelButton" onclick="document.getElementById('cn').style.display = 'none'">ОТМЕНА</button>
        <button type="button" class="btn btn-primary blue" onclick="document.getElementById('todo').submit()" >OK</button>
       </div>
    <% end %>