
    <%= form_for :todo, url: create_path, :html => { :id => "todo"} do |form| %>
      <p>
       <div id="label">
        <%= form.label ("text"), "Новая задача", class:'label' %><br>
       </div>
        <%= form.text_field ("text"), placeholder: "Название задачи"%>
      </p>
       <p>

           <%= select_tag 'todo[project_id]', options_from_collection_for_select(@projectsCollect, 'id', 'title')%>
       </p>
       <div id="buttons">
        <button type="button" id="cancelButton" onclick="changeDisplayToNone('cn')">ОТМЕНА</button>
        <button type="button" blue" onclick="submitToDo()" >OK</button>
       </div>
    <% end %>
