/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require icheck/square/blue
*= require select2-bootstrap
*= require select2
 */


@font-face {
    font-family: 'OpenSans';
    src: url(OpenSans-Semibold.ttf) format('truetype');
}



*{
    font-family: 'OpenSans';
}


#tasks-header {
    z-index: 50;
    top:0;
    left:0;
    width: 100%;
    height: 10%;
    position: fixed;
    background-color: rgb(36,137,197);
    color: aliceblue;
}

#tasks-header h1 {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
    padding-left: 46%;
    padding-top: 2%;
}
#plusButton {
    display: block;
    color: aliceblue;
    font-size: 50px;
    float: right;
    right: 0;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(29,111,160);
}

body{
    background-color: #bcbcbc;
}

#empty-block{
    z-index: 50;
    top:0;
    left:0;
    width: 100%;
    height: 10%;
    background-color: rgb(36,137,197);
    color: aliceblue;
}

#all{
    padding-top: 100px;
}

.full-card {
    background-color: #ffffff;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.23);
}

.tasks{
    padding-top: 20px;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.42);
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.42);
    padding-bottom: 20px;

}
.row-plus {
    height: 100%;
    font-size: 5vw;
}

#form {

}

#cn {
    display: none;
    z-index: 51;
    position: absolute;
    -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#todo{
    z-index: 52;
    background-color: aliceblue;
    border-width: 1px;
    border-radius: 3px;
    border-color: hsl(0, 0%, 39%);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 20px;
    padding-top: 15px;
}


#label{
    width: 100%;
}

#label .label{
    display: block;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
}

#buttons{
    width: 100%;
    display: flex;
}
.btn {
    flex: 1;
}

.blue {
    margin-left: 10px;
}

* {
  box-sizing: border-box;
}




.test  {

    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(blue.png) no-repeat;
    cursor: pointer;
   }
.text{
    display: inline-block;
    flex: 2;
}
.hidden-box:hover + .test {
    background-position: -24px 0px;
   }
.hidden-box:checked + .test {
    background-position: -48px 0px;
   }
.hidden-box:checked ~ .text {
    text-decoration: line-through;
}
.hidden-box {
    display:none;

}

li {
    display: flex;
}
